* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(150, 150, 150);
  font-family: Arial, Helvetica, sans-serif;
}
/* container */

.container {
  display: flex;
  height: calc(100vh - 120px);
}

/* misc */

li {
  list-style-type: none;
}

a:hover {
  color: #ffffff;
}

.btn {
  background-color: rgb(150, 150, 150);
  border: none;
  cursor: pointer;
}

.classic-btn {
  background-color: #2e2e2e;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.classic-btn:hover {
  padding: 20px 35px;
  font-size: 1.1rem;
  border-radius: 35px;
}

.btn-playlist {
  background-color: rgb(150, 150, 150);

  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  border-radius: 0;
  margin-right: 10px;
  font-weight: bold;
}

/* sidebar */

.sidebar {
  background-color: black;
  width: 60px;
  height: 100%;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar:hover {
  color: white;
}

.sidebar-header-content-svg svg {
  height: 40px;
  width: 40px;
  margin: 10px 0;
}

.sidebar-header-svg.logo {
  height: 40px;
  width: 40px;
  margin: 10px 0;
}

.sidebar-header-content-span {
  display: none;
  color: rgb(116, 116, 116);
  padding: 0 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-big {
  display: none;
  padding: 10px;
}

/* sidebar nav/playlist */

.sidebar-playlist {
  display: none;
  padding: 10px;
  font-size: 1.5rem;
}

.sidebar-playlist h1 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar-nav-list li {
  padding: 10px 0;
}

a {
  color: rgb(116, 116, 116);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

/* sidebar footer */

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.sidebar-footer-content {
  display: flex;
  align-items: center;
}

.sidebar-footer-divider {
  display: none;
  height: 1px;
  background-color: rgb(150, 150, 150);
  width: 100%;
}

.sidebar-footer-span {
  display: none;
  white-space: nowrap;
  padding-left: 10px;
}
.sidebar-footer-content svg {
  height: 25px;
  width: 35px;
}

.sidebar-footer-content svg.user-pic {
  background-color: rgb(150, 150, 150);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.sidebar-user {
  text-align: center;
  align-content: center;
  color: white;
}

/* main-section */

.main-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
}

.main-section-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #2e2e2e;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.main-content {
  display: flex;
  background-color: #1c1c2c;
  flex: 1 1 100%;
  justify-content: center;
}

/* main-navbar */

.main-navbar {
  position: relative;
  text-align: center;
}

.main-navbar a {
  position: relative;
  font-size: 1rem;
}

a.main-navbar-main-link::after {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: #9acd32;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

.main-navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  justify-content: center;
}

.main-content .main-navbar li {
  display: inline-block;
  padding: 7px;
  line-height: 30px;
}

.footer {
  background-color: #2e2e2e;
  height: 120px;
  width: 100%;
}

/* media queries */

@media screen and (min-width: 576px) {
  .d-flex-xs {
    display: flex;
  }

  .d-none-xs {
    display: none;
  }

  .d-inline-xs {
    display: inline;
  }

  .d-inline-block-xs {
    display: inline-block;
  }

  .d-block-xs {
    display: block;
  }

  .sidebar {
    width: 300px;
    align-items: flex-start;
  }

  .main-section {
    width: calc(100% - 300px);
  }

  .sidebar-header-content-svg {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .sidebar-footer {
    align-items: flex-start;
  }

  .sidebar-header-content-svg.home {
    border-left: 3px solid rgb(116, 206, 116);
    padding-left: 7px;
  }
}

@media screen and (min-width: 768px) {
  .d-flex-sm {
    display: flex;
  }

  .d-none-sm {
    display: none;
  }

  .d-inline-sm {
    display: inline;
  }

  .d-inline-block-sm {
    display: inline-block;
  }

  .d-block-sm {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .d-flex-md {
    display: flex;
  }

  .d-none-md {
    display: none;
  }

  .d-inline-md {
    display: inline;
  }

  .d-inline-block-md {
    display: inline-block;
  }

  .d-block-md {
    display: block;
  }
}
