* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(150, 150, 150);
  font-family: Arial, Helvetica, sans-serif;
}
/* container */

.container {
  display: flex;
  height: calc(100vh - 120px);
}

/* misc */

li {
  list-style-type: none;
}

a:hover {
  color: #ffffff;
}

.btn {
  background-color: rgb(150, 150, 150);
  border: none;
  cursor: pointer;
}

.classic-btn {
  background-color: #2e2e2e;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.classic-btn:hover {
  padding: 20px 35px;
  font-size: 1.1rem;
  border-radius: 35px;
}

.btn-playlist {
  background-color: rgb(150, 150, 150);

  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  border-radius: 0;
  margin-right: 10px;
  font-weight: bold;
}

.btn-playlist:hover {
  background-color: white;
}

/* sidebar */

.sidebar {
  background-color: black;
  width: 60px;
  height: 100%;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar:hover {
  color: white;
}

.sidebar-header-content-svg svg {
  height: 35px;
  width: 35px;
  margin: 5px 0;
}

.sidebar-header-svg.logo {
  height: 40px;
  width: 40px;
  margin: 10px 0;
}

.sidebar-header-content-span {
  display: none;
  color: rgb(116, 116, 116);
  padding: 0 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-big {
  display: none;
  padding: 10px;
}

/* sidebar nav/playlist */

.sidebar-playlist {
  display: none;
  padding: 20px 10px;
  font-size: 1.5rem;
}

.sidebar-playlist h1 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar-nav-list li {
  padding: 10px 0;
}

a {
  color: rgb(116, 116, 116);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.sidebar-nav-li-scrollbar {
  height: 200px;
  overflow: auto;
}

/* sidebar footer */

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.sidebar-footer-content {
  display: flex;
  align-items: center;
}

.sidebar-footer-divider {
  display: none;
  height: 1px;
  background-color: rgb(150, 150, 150);
  width: 100%;
}

.sidebar-footer-span {
  display: none;
  white-space: nowrap;
  padding-left: 10px;
}

.sidebar-footer-span-user a {
  color: white;
}
.sidebar-footer-content svg {
  height: 25px;
  width: 35px;
}

.sidebar-footer-content svg.user-pic {
  background-color: rgb(150, 150, 150);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.sidebar-user {
  text-align: center;
  align-content: center;
  color: white;
}

/* main-section */

.main-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
}

.main-section-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #2e2e2e;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.main-content {
  background-color: #1c1c2c;

  overflow-y: auto;
}

/* main-navbar */

.main-navbar {
  position: relative;
  text-align: center;
}

.main-navbar a {
  position: relative;
  font-size: 1rem;
}

a.main-navbar-main-link::after {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: #9acd32;
  position: absolute;
  bottom: -5px;
  left: 35px;
}

.main-navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 5px;
  justify-content: center;
}

.main-content .main-navbar li {
  display: inline-block;
  padding: 7px;
  line-height: 30px;
}

/* main music section */

.main-music-section {
  padding: 10px;
  margin-top: 10px;
}

.main-music-section-container {
  padding-top: 25px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

h2 {
  color: #ffffff;
}

/* main music section cards */
.main-music-section-card-img {
  display: block;
  height: auto;
  width: 100%;
}

.main-music-section-card-img-wrapper {
  position: relative;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
  height: 100%;
  display: none;
}

.main-music-section-card-img-wrapper:hover .play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-music-section-card {
  display: flex;

  width: 45%;

  flex-direction: column;
  text-align: center;
}

.main-music-section-card h3 {
  padding: 10px 0;
  color: white;
}

/* for-you section */

.for-you-section {
  padding: 15px 0;
}

.for-you-section p {
  padding: 10px 0;
}

.footer {
  display: flex;
  background-color: #2e2e2e;
  height: 120px;
  width: 100%;
  position: fixed;
  border: 1px solid #2e2e2e;
}

.footer-container {
  display: flex;

  align-items: center;
  height: 100%;
  width: calc(100vw / 3);
}

.footer-song-container {
  padding: 10px;
  gap: 10px;
}

.footer-song-icons {
  line-height: 25px;
  text-align: center;
}

.footer-song-icons i {
  padding: 10px;
}

.footer-song-img img {
  width: 50px;
  height: 50px;
}

.footer h3 {
  color: white;
  font-size: 0.9rem;
}

.footer p {
  font-weight: bold;
}

.footer a {
  font-size: 0.9rem;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-song-icons i:hover {
  color: #ffffff;
}

.footer-settings-container {
  justify-content: right;
  padding: 10px;
  gap: 5px;
}

.footer-settings-container i {
  color: #ffffff;
  padding: 0 5px;
}

.footer-settings-container > .progress-bar {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 300px;
  min-width: 20px;
  height: 5px;
  background-color: #585858;
  border-radius: 3px;
  cursor: pointer;
}

.footer-settings-container > .progress-bar > .progress {
  width: 10%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
}

.footer-settings-container > .progress-bar > .progress::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
}

.footer-settings-container > .progress-bar:hover > .progress {
  background-color: #9acd32;
}

.footer-player-container {
  width: 100%;
}

.upper-player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
  gap: 5px;
}

.lower-player {
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;
  justify-content: center;
}

.lower-player span {
  padding: 0 10px;
}

.lower-player > .progress-bar {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 600px;
  min-width: 20px;
  height: 5px;
  background-color: #585858;
  border-radius: 3px;
  cursor: pointer;
}

.lower-player > .progress-bar > .progress {
  width: 10%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
}

.lower-player > .progress-bar > .progress::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
}

.lower-player > .progress-bar:hover > .progress {
  background-color: #9acd32;
}

.footer-player-container i {
  color: #ffffff;
  padding: 0 10px;
  font-size: 20px;
}

.footer-player-container .fa-xl {
  font-size: 35px;
}

.footer-player-container .fa-xl:hover {
  font-size: 40px;
}
/* most-popular-section */

.most-popular-section img {
  border-radius: 50%;
}

.most-popular-section {
  padding-bottom: 30px;
}

/* media queries */

@media screen and (min-width: 576px) {
  .d-flex-xs {
    display: flex;
  }

  .d-none-xs {
    display: none;
  }

  .d-inline-xs {
    display: inline;
  }

  .d-inline-block-xs {
    display: inline-block;
  }

  .d-block-xs {
    display: block;
  }

  .sidebar {
    width: 300px;
    align-items: stretch;
  }

  .main-section {
    width: calc(100% - 300px);
  }

  .sidebar-header-content-svg {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .sidebar-footer {
    align-items: flex-start;
  }

  .sidebar-header-content-svg.home {
    border-left: 3px solid rgb(116, 206, 116);
    padding-left: 7px;
  }
}

@media screen and (min-width: 768px) {
  .d-flex-sm {
    display: flex;
  }

  .d-none-sm {
    display: none;
  }

  .d-inline-sm {
    display: inline;
  }

  .d-inline-block-sm {
    display: inline-block;
  }

  .d-block-sm {
    display: block;
  }

  .main-music-section-card {
    width: 21%;
  }
}

@media screen and (min-width: 992px) {
  .d-flex-md {
    display: flex;
  }

  .d-none-md {
    display: none;
  }

  .d-inline-md {
    display: inline;
  }

  .d-inline-block-md {
    display: inline-block;
  }

  .d-block-md {
    display: block;
  }

  .main-music-section-card {
    width: 14%;
  }
}
